body{
		background: #98B8CF;
		background-image: -webkit-linear-gradient(left , rgb(84,116,137) 0%, rgb(133,160,177) 50%, rgb(84,116,137) 100%);
	}

	input[type="submit"] {
						  border-radius: 3px;
						  width: 235px;
						  height: 30px;
						  margin-top: 8px;
	}

	h3 {color: white;}

	div#captcha {
  				width: 50%;
  				margin: 0 auto;
	}

	form {
  		 width: 50%;
  		  margin: 160px auto;

	}

	div#errorMsg {
				  width: 24%;
				  margin: 20px auto;
				  color: rgb(255, 255, 248);
				  font-size: 20px;
}